<hr>
<details>
  <summary id=<%="title_job_#{job.file_path}"%>><%=job.job_class%></summary>
  <%= form_with url: sidekiq_launcher_run_path do |f| %>
    <%= f.hidden_field :job_class, value: job.job_class %>

    <small><i><%= f.label job.file_path %></i></small>

    <% job.parameters.each_with_index do |param| %>
      <%= f.hidden_field "arg_name_#{param[:position]}", value: param[:name] %>
      <div>
        <%= f.label param[:name] %>
        <%= "*" if param[:required] %>:
        <%= f.text_field "arg_value_#{param[:position]}", required: param[:required]%>
        <%= f.select "arg_type_#{param[:position]}", options_for_select(arg_types) %>
      </div>
    <% end %>

    <div><%= f.submit 'Run Job' %></div>
  <% end %>
</details>
